.vscode/c_cpp_properties.json
.build/HelloWorld.ino.bin
.build/HelloWorld.ino.elf
.build/HelloWorld.ino.map
.build/build.options.json
.build/includes.cache
.build/core/HardwareSerial.cpp.d
.build/core/HardwareSerial.cpp.o
.build/core/HardwareTimer.cpp.d
.build/core/HardwareTimer.cpp.o
.build/core/IPAddress.cpp.d
.build/core/IPAddress.cpp.o
.build/core/Print.cpp.d
.build/core/Print.cpp.o
.build/core/Stream.cpp.d
.build/core/Stream.cpp.o
.build/core/WString.cpp.d
.build/core/WString.cpp.o
.build/core/board.cpp.d
.build/core/board.cpp.o
.build/core/core.a
.build/core/cxxabi-compat.cpp.d
.build/core/cxxabi-compat.cpp.o
.build/core/ext_interrupts.cpp.d
.build/core/ext_interrupts.cpp.o
.build/core/hooks.c.d
.build/core/hooks.c.o
.build/core/itoa.c.d
.build/core/itoa.c.o
.build/core/main.cpp.d
.build/core/main.cpp.o
.build/core/new.cpp.d
.build/core/new.cpp.o
.build/core/pwm.cpp.d
.build/core/pwm.cpp.o
.build/core/sdio.cpp.d
.build/core/sdio.cpp.o
.build/core/tone.cpp.d
.build/core/tone.cpp.o
.build/core/usb_serial.cpp.d
.build/core/usb_serial.cpp.o
.build/core/wirish_analog.cpp.d
.build/core/wirish_analog.cpp.o
.build/core/wirish_digital.cpp.d
.build/core/wirish_digital.cpp.o
.build/core/wirish_math.cpp.d
.build/core/wirish_math.cpp.o
.build/core/wirish_shift.cpp.d
.build/core/wirish_shift.cpp.o
.build/core/wirish_time.cpp.d
.build/core/wirish_time.cpp.o
.build/core/avr/dtostrf.c.d
.build/core/avr/dtostrf.c.o
.build/core/libmaple/adc.c.d
.build/core/libmaple/adc.c.o
.build/core/libmaple/adc_f1.c.d
.build/core/libmaple/adc_f1.c.o
.build/core/libmaple/bkp_f1.c.d
.build/core/libmaple/bkp_f1.c.o
.build/core/libmaple/dac.c.d
.build/core/libmaple/dac.c.o
.build/core/libmaple/dma.c.d
.build/core/libmaple/dma.c.o
.build/core/libmaple/dma_f1.c.d
.build/core/libmaple/dma_f1.c.o
.build/core/libmaple/exc.S.d
.build/core/libmaple/exc.S.o
.build/core/libmaple/exti.c.d
.build/core/libmaple/exti.c.o
.build/core/libmaple/exti_f1.c.d
.build/core/libmaple/exti_f1.c.o
.build/core/libmaple/flash.c.d
.build/core/libmaple/flash.c.o
.build/core/libmaple/fsmc_f1.c.d
.build/core/libmaple/fsmc_f1.c.o
.build/core/libmaple/gpio.c.d
.build/core/libmaple/gpio.c.o
.build/core/libmaple/gpio_f1.c.d
.build/core/libmaple/gpio_f1.c.o
.build/core/libmaple/i2c.c.d
.build/core/libmaple/i2c.c.o
.build/core/libmaple/i2c_f1.c.d
.build/core/libmaple/i2c_f1.c.o
.build/core/libmaple/iwdg.c.d
.build/core/libmaple/iwdg.c.o
.build/core/libmaple/nvic.c.d
.build/core/libmaple/nvic.c.o
.build/core/libmaple/pwr.c.d
.build/core/libmaple/pwr.c.o
.build/core/libmaple/rcc.c.d
.build/core/libmaple/rcc.c.o
.build/core/libmaple/rcc_f1.c.d
.build/core/libmaple/rcc_f1.c.o
.build/core/libmaple/spi.c.d
.build/core/libmaple/spi.c.o
.build/core/libmaple/spi_f1.c.d
.build/core/libmaple/spi_f1.c.o
.build/core/libmaple/systick.c.d
.build/core/libmaple/systick.c.o
.build/core/libmaple/timer.c.d
.build/core/libmaple/timer.c.o
.build/core/libmaple/timer_f1.c.d
.build/core/libmaple/timer_f1.c.o
.build/core/libmaple/usart.c.d
.build/core/libmaple/usart.c.o
.build/core/libmaple/usart_f1.c.d
.build/core/libmaple/usart_f1.c.o
.build/core/libmaple/usart_private.c.d
.build/core/libmaple/usart_private.c.o
.build/core/libmaple/util.c.d
.build/core/libmaple/util.c.o
.build/core/libmaple/stm32f1/performance/isrs.S.d
.build/core/libmaple/stm32f1/performance/isrs.S.o
.build/core/libmaple/stm32f1/performance/vector_table.S.d
.build/core/libmaple/stm32f1/performance/vector_table.S.o
.build/core/libmaple/usb/stm32f1/usb.c.d
.build/core/libmaple/usb/stm32f1/usb.c.o
.build/core/libmaple/usb/stm32f1/usb_cdcacm.c.d
.build/core/libmaple/usb/stm32f1/usb_cdcacm.c.o
.build/core/libmaple/usb/stm32f1/usb_reg_map.c.d
.build/core/libmaple/usb/stm32f1/usb_reg_map.c.o
.build/core/libmaple/usb/usb_lib/usb_core.c.d
.build/core/libmaple/usb/usb_lib/usb_core.c.o
.build/core/libmaple/usb/usb_lib/usb_init.c.d
.build/core/libmaple/usb/usb_lib/usb_init.c.o
.build/core/libmaple/usb/usb_lib/usb_mem.c.d
.build/core/libmaple/usb/usb_lib/usb_mem.c.o
.build/core/libmaple/usb/usb_lib/usb_regs.c.d
.build/core/libmaple/usb/usb_lib/usb_regs.c.o
.build/core/stm32f1/util_hooks.c.d
.build/core/stm32f1/util_hooks.c.o
.build/core/stm32f1/wiring_pulse_f1.cpp.d
.build/core/stm32f1/wiring_pulse_f1.cpp.o
.build/core/stm32f1/wirish_debug.cpp.d
.build/core/stm32f1/wirish_debug.cpp.o
.build/core/stm32f1/wirish_digital_f1.cpp.d
.build/core/stm32f1/wirish_digital_f1.cpp.o
.build/core/wirish/boards.cpp.d
.build/core/wirish/boards.cpp.o
.build/core/wirish/boards_setup.cpp.d
.build/core/wirish/boards_setup.cpp.o
.build/core/wirish/start.S.d
.build/core/wirish/start.S.o
.build/core/wirish/start_c.c.d
.build/core/wirish/start_c.c.o
.build/core/wirish/syscalls.c.d
.build/core/wirish/syscalls.c.o
.build/libraries/Adafruit_GFX_Library/Adafruit_GFX.cpp.d
.build/libraries/Adafruit_GFX_Library/Adafruit_GFX.cpp.o
.build/libraries/Adafruit_GFX_Library/Adafruit_SPITFT.cpp.d
.build/libraries/Adafruit_GFX_Library/Adafruit_SPITFT.cpp.o
.build/libraries/Adafruit_GFX_Library/glcdfont.c.d
.build/libraries/Adafruit_GFX_Library/glcdfont.c.o
.build/libraries/Adafruit_SSD1306/Adafruit_SSD1306_STM32.cpp.d
.build/libraries/Adafruit_SSD1306/Adafruit_SSD1306_STM32.cpp.o
.build/libraries/SPI/SPI.cpp.d
.build/libraries/SPI/SPI.cpp.o
.build/libraries/Wire/SoftWire.cpp.d
.build/libraries/Wire/SoftWire.cpp.o
.build/libraries/Wire/Wire.cpp.d
.build/libraries/Wire/Wire.cpp.o
.build/libraries/Wire/utility/WireBase.cpp.d
.build/libraries/Wire/utility/WireBase.cpp.o
.build/preproc/ctags_target_for_gcc_minus_e.cpp
.build/sketch/HelloWorld.ino.cpp
.build/sketch/HelloWorld.ino.cpp.d
.build/sketch/HelloWorld.ino.cpp.o
.vscode/arduino.json
.vscode/launch.json
.vscode/settings.json
Projects/my sketch/.vscode/arduino.json
Projects/my sketch/.vscode/c_cpp_properties.json
Projects/my sketch/.vscode/settings.json
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_u16toa.c.d
.build/genericSTM32F103C/HelloWorld.ino.bin
.build/genericSTM32F103C/HelloWorld.ino.elf
.build/genericSTM32F103C/HelloWorld.ino.map
.build/genericSTM32F103C/build.options.json
.build/genericSTM32F103C/includes.cache
.build/genericSTM32F103C/core/HardwareSerial.cpp.d
.build/genericSTM32F103C/core/HardwareSerial.cpp.o
.build/genericSTM32F103C/core/HardwareTimer.cpp.d
.build/genericSTM32F103C/core/HardwareTimer.cpp.o
.build/genericSTM32F103C/core/IPAddress.cpp.d
.build/genericSTM32F103C/core/IPAddress.cpp.o
.build/genericSTM32F103C/core/Print.cpp.d
.build/genericSTM32F103C/core/Print.cpp.o
.build/genericSTM32F103C/core/Stream.cpp.d
.build/genericSTM32F103C/core/Stream.cpp.o
.build/genericSTM32F103C/core/WString.cpp.d
.build/genericSTM32F103C/core/WString.cpp.o
.build/genericSTM32F103C/core/board.cpp.d
.build/genericSTM32F103C/core/board.cpp.o
.build/genericSTM32F103C/core/core.a
.build/genericSTM32F103C/core/cxxabi-compat.cpp.d
.build/genericSTM32F103C/core/cxxabi-compat.cpp.o
.build/genericSTM32F103C/core/ext_interrupts.cpp.d
.build/genericSTM32F103C/core/ext_interrupts.cpp.o
.build/genericSTM32F103C/core/hooks.c.d
.build/genericSTM32F103C/core/hooks.c.o
.build/genericSTM32F103C/core/itoa.c.d
.build/genericSTM32F103C/core/itoa.c.o
.build/genericSTM32F103C/core/main.cpp.d
.build/genericSTM32F103C/core/main.cpp.o
.build/genericSTM32F103C/core/new.cpp.d
.build/genericSTM32F103C/core/new.cpp.o
.build/genericSTM32F103C/core/pwm.cpp.d
.build/genericSTM32F103C/core/pwm.cpp.o
.build/genericSTM32F103C/core/sdio.cpp.d
.build/genericSTM32F103C/core/sdio.cpp.o
.build/genericSTM32F103C/core/tone.cpp.d
.build/genericSTM32F103C/core/tone.cpp.o
.build/genericSTM32F103C/core/usb_serial.cpp.d
.build/genericSTM32F103C/core/usb_serial.cpp.o
.build/genericSTM32F103C/core/wirish_analog.cpp.d
.build/genericSTM32F103C/core/wirish_analog.cpp.o
.build/genericSTM32F103C/core/wirish_digital.cpp.d
.build/genericSTM32F103C/core/wirish_digital.cpp.o
.build/genericSTM32F103C/core/wirish_math.cpp.d
.build/genericSTM32F103C/core/wirish_math.cpp.o
.build/genericSTM32F103C/core/wirish_shift.cpp.d
.build/genericSTM32F103C/core/wirish_shift.cpp.o
.build/genericSTM32F103C/core/wirish_time.cpp.d
.build/genericSTM32F103C/core/wirish_time.cpp.o
.build/genericSTM32F103C/core/avr/dtostrf.c.d
.build/genericSTM32F103C/core/avr/dtostrf.c.o
.build/genericSTM32F103C/core/libmaple/adc.c.d
.build/genericSTM32F103C/core/libmaple/adc.c.o
.build/genericSTM32F103C/core/libmaple/adc_f1.c.d
.build/genericSTM32F103C/core/libmaple/adc_f1.c.o
.build/genericSTM32F103C/core/libmaple/bkp_f1.c.d
.build/genericSTM32F103C/core/libmaple/bkp_f1.c.o
.build/genericSTM32F103C/core/libmaple/dac.c.d
.build/genericSTM32F103C/core/libmaple/dac.c.o
.build/genericSTM32F103C/core/libmaple/dma.c.d
.build/genericSTM32F103C/core/libmaple/dma.c.o
.build/genericSTM32F103C/core/libmaple/dma_f1.c.d
.build/genericSTM32F103C/core/libmaple/dma_f1.c.o
.build/genericSTM32F103C/core/libmaple/exc.S.d
.build/genericSTM32F103C/core/libmaple/exc.S.o
.build/genericSTM32F103C/core/libmaple/exti.c.d
.build/genericSTM32F103C/core/libmaple/exti.c.o
.build/genericSTM32F103C/core/libmaple/exti_f1.c.d
.build/genericSTM32F103C/core/libmaple/exti_f1.c.o
.build/genericSTM32F103C/core/libmaple/flash.c.d
.build/genericSTM32F103C/core/libmaple/flash.c.o
.build/genericSTM32F103C/core/libmaple/fsmc_f1.c.d
.build/genericSTM32F103C/core/libmaple/fsmc_f1.c.o
.build/genericSTM32F103C/core/libmaple/gpio.c.d
.build/genericSTM32F103C/core/libmaple/gpio.c.o
.build/genericSTM32F103C/core/libmaple/gpio_f1.c.d
.build/genericSTM32F103C/core/libmaple/gpio_f1.c.o
.build/genericSTM32F103C/core/libmaple/i2c.c.d
.build/genericSTM32F103C/core/libmaple/i2c.c.o
.build/genericSTM32F103C/core/libmaple/i2c_f1.c.d
.build/genericSTM32F103C/core/libmaple/i2c_f1.c.o
.build/genericSTM32F103C/core/libmaple/iwdg.c.d
.build/genericSTM32F103C/core/libmaple/iwdg.c.o
.build/genericSTM32F103C/core/libmaple/nvic.c.d
.build/genericSTM32F103C/core/libmaple/nvic.c.o
.build/genericSTM32F103C/core/libmaple/pwr.c.d
.build/genericSTM32F103C/core/libmaple/pwr.c.o
.build/genericSTM32F103C/core/libmaple/rcc.c.d
.build/genericSTM32F103C/core/libmaple/rcc.c.o
.build/genericSTM32F103C/core/libmaple/rcc_f1.c.d
.build/genericSTM32F103C/core/libmaple/rcc_f1.c.o
.build/genericSTM32F103C/core/libmaple/spi.c.d
.build/genericSTM32F103C/core/libmaple/spi.c.o
.build/genericSTM32F103C/core/libmaple/spi_f1.c.d
.build/genericSTM32F103C/core/libmaple/spi_f1.c.o
.build/genericSTM32F103C/core/libmaple/systick.c.d
.build/genericSTM32F103C/core/libmaple/systick.c.o
.build/genericSTM32F103C/core/libmaple/timer.c.d
.build/genericSTM32F103C/core/libmaple/timer.c.o
.build/genericSTM32F103C/core/libmaple/timer_f1.c.d
.build/genericSTM32F103C/core/libmaple/timer_f1.c.o
.build/genericSTM32F103C/core/libmaple/usart.c.d
.build/genericSTM32F103C/core/libmaple/usart.c.o
.build/genericSTM32F103C/core/libmaple/usart_f1.c.d
.build/genericSTM32F103C/core/libmaple/usart_f1.c.o
.build/genericSTM32F103C/core/libmaple/usart_private.c.d
.build/genericSTM32F103C/core/libmaple/usart_private.c.o
.build/genericSTM32F103C/core/libmaple/util.c.d
.build/genericSTM32F103C/core/libmaple/util.c.o
.build/genericSTM32F103C/core/libmaple/stm32f1/performance/isrs.S.d
.build/genericSTM32F103C/core/libmaple/stm32f1/performance/isrs.S.o
.build/genericSTM32F103C/core/libmaple/stm32f1/performance/vector_table.S.d
.build/genericSTM32F103C/core/libmaple/stm32f1/performance/vector_table.S.o
.build/genericSTM32F103C/core/libmaple/usb/stm32f1/usb.c.d
.build/genericSTM32F103C/core/libmaple/usb/stm32f1/usb.c.o
.build/genericSTM32F103C/core/libmaple/usb/stm32f1/usb_cdcacm.c.d
.build/genericSTM32F103C/core/libmaple/usb/stm32f1/usb_cdcacm.c.o
.build/genericSTM32F103C/core/libmaple/usb/stm32f1/usb_reg_map.c.d
.build/genericSTM32F103C/core/libmaple/usb/stm32f1/usb_reg_map.c.o
.build/genericSTM32F103C/core/libmaple/usb/usb_lib/usb_core.c.d
.build/genericSTM32F103C/core/libmaple/usb/usb_lib/usb_core.c.o
.build/genericSTM32F103C/core/libmaple/usb/usb_lib/usb_init.c.d
.build/genericSTM32F103C/core/libmaple/usb/usb_lib/usb_init.c.o
.build/genericSTM32F103C/core/libmaple/usb/usb_lib/usb_mem.c.d
.build/genericSTM32F103C/core/libmaple/usb/usb_lib/usb_mem.c.o
.build/genericSTM32F103C/core/libmaple/usb/usb_lib/usb_regs.c.d
.build/genericSTM32F103C/core/libmaple/usb/usb_lib/usb_regs.c.o
.build/genericSTM32F103C/core/stm32f1/util_hooks.c.d
.build/genericSTM32F103C/core/stm32f1/util_hooks.c.o
.build/genericSTM32F103C/core/stm32f1/wiring_pulse_f1.cpp.d
.build/genericSTM32F103C/core/stm32f1/wiring_pulse_f1.cpp.o
.build/genericSTM32F103C/core/stm32f1/wirish_debug.cpp.d
.build/genericSTM32F103C/core/stm32f1/wirish_debug.cpp.o
.build/genericSTM32F103C/core/stm32f1/wirish_digital_f1.cpp.d
.build/genericSTM32F103C/core/stm32f1/wirish_digital_f1.cpp.o
.build/genericSTM32F103C/core/wirish/boards.cpp.d
.build/genericSTM32F103C/core/wirish/boards.cpp.o
.build/genericSTM32F103C/core/wirish/boards_setup.cpp.d
.build/genericSTM32F103C/core/wirish/boards_setup.cpp.o
.build/genericSTM32F103C/core/wirish/start.S.d
.build/genericSTM32F103C/core/wirish/start.S.o
.build/genericSTM32F103C/core/wirish/start_c.c.d
.build/genericSTM32F103C/core/wirish/start_c.c.o
.build/genericSTM32F103C/core/wirish/syscalls.c.d
.build/genericSTM32F103C/core/wirish/syscalls.c.o
.build/genericSTM32F103C/libraries/SPI/SPI.cpp.d
.build/genericSTM32F103C/libraries/SPI/SPI.cpp.o
.build/genericSTM32F103C/libraries/Wire/SoftWire.cpp.d
.build/genericSTM32F103C/libraries/Wire/SoftWire.cpp.o
.build/genericSTM32F103C/libraries/Wire/Wire.cpp.d
.build/genericSTM32F103C/libraries/Wire/Wire.cpp.o
.build/genericSTM32F103C/libraries/Wire/utility/WireBase.cpp.d
.build/genericSTM32F103C/libraries/Wire/utility/WireBase.cpp.o
.build/genericSTM32F103C/libraries/arduino_672038/U8x8lib.cpp.d
.build/genericSTM32F103C/libraries/arduino_672038/U8x8lib.cpp.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8g2_bitmap.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8g2_bitmap.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8g2_box.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8g2_box.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8g2_buffer.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8g2_buffer.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8g2_circle.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8g2_circle.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8g2_cleardisplay.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8g2_cleardisplay.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8g2_d_memory.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8g2_d_memory.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8g2_d_setup.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8g2_d_setup.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8g2_font.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8g2_font.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8g2_fonts.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8g2_fonts.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8g2_hvline.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8g2_hvline.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8g2_input_value.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8g2_input_value.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8g2_intersection.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8g2_intersection.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8g2_kerning.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8g2_kerning.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8g2_line.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8g2_line.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8g2_ll_hvline.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8g2_ll_hvline.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8g2_message.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8g2_message.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8g2_polygon.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8g2_polygon.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8g2_selection_list.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8g2_selection_list.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8g2_setup.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8g2_setup.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8log.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8log.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8log_u8g2.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8log_u8g2.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8log_u8x8.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8log_u8x8.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_8x8.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_8x8.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_byte.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_byte.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_cad.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_cad.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_a2printer.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_a2printer.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_il3820_296x128.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_il3820_296x128.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_ist3020.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_ist3020.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_ks0108.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_ks0108.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_lc7981.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_lc7981.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_ld7032_60x32.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_ld7032_60x32.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_ls013b7dh03.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_ls013b7dh03.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_max7219.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_max7219.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_pcd8544_84x48.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_pcd8544_84x48.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_pcf8812.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_pcf8812.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_pcf8814_hx1230.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_pcf8814_hx1230.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_sbn1661.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_sbn1661.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_sed1330.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_sed1330.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_sh1106_64x32.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_sh1106_64x32.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_sh1106_72x40.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_sh1106_72x40.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_sh1107.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_sh1107.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_sh1122.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_sh1122.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_ssd1305.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_ssd1305.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_ssd1306_128x32.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_ssd1306_128x32.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_ssd1306_128x64_noname.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_ssd1306_128x64_noname.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_ssd1306_48x64.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_ssd1306_48x64.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_ssd1306_64x32.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_ssd1306_64x32.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_ssd1306_64x48.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_ssd1306_64x48.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_ssd1306_96x16.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_ssd1306_96x16.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_ssd1309.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_ssd1309.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_ssd1322.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_ssd1322.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_ssd1325.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_ssd1325.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_ssd1326.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_ssd1326.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_ssd1327.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_ssd1327.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_ssd1329.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_ssd1329.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_ssd1606_172x72.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_ssd1606_172x72.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_ssd1607_200x200.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_ssd1607_200x200.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_st75256.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_st75256.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_st7565.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_st7565.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_st7567.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_st7567.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_st7588.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_st7588.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_st7920.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_st7920.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_t6963.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_t6963.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_uc1601.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_uc1601.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_uc1604.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_uc1604.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_uc1608.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_uc1608.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_uc1610.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_uc1610.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_uc1611.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_uc1611.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_uc1617.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_uc1617.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_uc1638.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_uc1638.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_uc1701_dogs102.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_uc1701_dogs102.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_uc1701_mini12864.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_d_uc1701_mini12864.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_debounce.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_debounce.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_display.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_display.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_fonts.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_fonts.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_gpio.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_gpio.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_input_value.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_input_value.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_message.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_message.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_selection_list.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_selection_list.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_setup.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_setup.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_string.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_string.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_u16toa.c.o
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_u8toa.c.d
.build/genericSTM32F103C/libraries/arduino_672038/clib/u8x8_u8toa.c.o
GravityPixels-master/proj_img.jpg
.build/genericSTM32F103C/sketch/HelloWorld.ino.cpp.d
.build/genericSTM32F103C/sketch/HelloWorld.ino.cpp.o
GravityPixels-master/.gitattributes
GravityPixels-master/scheme.jpg
GravityPixels-master/MPU6050_calibration/MPU6050_calibration.ino
.build/genericSTM32F103C/preproc/ctags_target_for_gcc_minus_e.cpp
.build/genericSTM32F103C/sketch/HelloWorld.ino.cpp
FreeRTOS/rtos_blink.ino
GravityPixels-master/README.md
GravityPixels-master/gravity_pixel_manualMatr_manualAngl_int/gravity_pixel_manualMatr_manualAngl_int.ino
GravityPixels-master/gravity_pixel_optimized/gravity_pixel_optimized.ino
SSD1306/ssd1306_128x64_i2c_STM32.ino
u8hellow/HelloWorld.ino
