.vscode/c_cpp_properties.json
.build/HelloWorld.ino.bin
.build/HelloWorld.ino.elf
.build/HelloWorld.ino.map
.build/build.options.json
.build/includes.cache
.build/core/HardwareSerial.cpp.d
.build/core/HardwareSerial.cpp.o
.build/core/HardwareTimer.cpp.d
.build/core/HardwareTimer.cpp.o
.build/core/IPAddress.cpp.d
.build/core/IPAddress.cpp.o
.build/core/Print.cpp.d
.build/core/Print.cpp.o
.build/core/Stream.cpp.d
.build/core/Stream.cpp.o
.build/core/WString.cpp.d
.build/core/WString.cpp.o
.build/core/board.cpp.d
.build/core/board.cpp.o
.build/core/core.a
.build/core/cxxabi-compat.cpp.d
.build/core/cxxabi-compat.cpp.o
.build/core/ext_interrupts.cpp.d
.build/core/ext_interrupts.cpp.o
.build/core/hooks.c.d
.build/core/hooks.c.o
.build/core/itoa.c.d
.build/core/itoa.c.o
.build/core/main.cpp.d
.build/core/main.cpp.o
.build/core/new.cpp.d
.build/core/new.cpp.o
.build/core/pwm.cpp.d
.build/core/pwm.cpp.o
.build/core/sdio.cpp.d
.build/core/sdio.cpp.o
.build/core/tone.cpp.d
.build/core/tone.cpp.o
.build/core/usb_serial.cpp.d
.build/core/usb_serial.cpp.o
.build/core/wirish_analog.cpp.d
.build/core/wirish_analog.cpp.o
.build/core/wirish_digital.cpp.d
.build/core/wirish_digital.cpp.o
.build/core/wirish_math.cpp.d
.build/core/wirish_math.cpp.o
.build/core/wirish_shift.cpp.d
.build/core/wirish_shift.cpp.o
.build/core/wirish_time.cpp.d
.build/core/wirish_time.cpp.o
.build/core/avr/dtostrf.c.d
.build/core/avr/dtostrf.c.o
.build/core/libmaple/adc.c.d
.build/core/libmaple/adc.c.o
.build/core/libmaple/adc_f1.c.d
.build/core/libmaple/adc_f1.c.o
.build/core/libmaple/bkp_f1.c.d
.build/core/libmaple/bkp_f1.c.o
.build/core/libmaple/dac.c.d
.build/core/libmaple/dac.c.o
.build/core/libmaple/dma.c.d
.build/core/libmaple/dma.c.o
.build/core/libmaple/dma_f1.c.d
.build/core/libmaple/dma_f1.c.o
.build/core/libmaple/exc.S.d
.build/core/libmaple/exc.S.o
.build/core/libmaple/exti.c.d
.build/core/libmaple/exti.c.o
.build/core/libmaple/exti_f1.c.d
.build/core/libmaple/exti_f1.c.o
.build/core/libmaple/flash.c.d
.build/core/libmaple/flash.c.o
.build/core/libmaple/fsmc_f1.c.d
.build/core/libmaple/fsmc_f1.c.o
.build/core/libmaple/gpio.c.d
.build/core/libmaple/gpio.c.o
.build/core/libmaple/gpio_f1.c.d
.build/core/libmaple/gpio_f1.c.o
.build/core/libmaple/i2c.c.d
.build/core/libmaple/i2c.c.o
.build/core/libmaple/i2c_f1.c.d
.build/core/libmaple/i2c_f1.c.o
.build/core/libmaple/iwdg.c.d
.build/core/libmaple/iwdg.c.o
.build/core/libmaple/nvic.c.d
.build/core/libmaple/nvic.c.o
.build/core/libmaple/pwr.c.d
.build/core/libmaple/pwr.c.o
.build/core/libmaple/rcc.c.d
.build/core/libmaple/rcc.c.o
.build/core/libmaple/rcc_f1.c.d
.build/core/libmaple/rcc_f1.c.o
.build/core/libmaple/spi.c.d
.build/core/libmaple/spi.c.o
.build/core/libmaple/spi_f1.c.d
.build/core/libmaple/spi_f1.c.o
.build/core/libmaple/systick.c.d
.build/core/libmaple/systick.c.o
.build/core/libmaple/timer.c.d
.build/core/libmaple/timer.c.o
.build/core/libmaple/timer_f1.c.d
.build/core/libmaple/timer_f1.c.o
.build/core/libmaple/usart.c.d
.build/core/libmaple/usart.c.o
.build/core/libmaple/usart_f1.c.d
.build/core/libmaple/usart_f1.c.o
.build/core/libmaple/usart_private.c.d
.build/core/libmaple/usart_private.c.o
.build/core/libmaple/util.c.d
.build/core/libmaple/util.c.o
.build/core/libmaple/stm32f1/performance/isrs.S.d
.build/core/libmaple/stm32f1/performance/isrs.S.o
.build/core/libmaple/stm32f1/performance/vector_table.S.d
.build/core/libmaple/stm32f1/performance/vector_table.S.o
.build/core/libmaple/usb/stm32f1/usb.c.d
.build/core/libmaple/usb/stm32f1/usb.c.o
.build/core/libmaple/usb/stm32f1/usb_cdcacm.c.d
.build/core/libmaple/usb/stm32f1/usb_cdcacm.c.o
.build/core/libmaple/usb/stm32f1/usb_reg_map.c.d
.build/core/libmaple/usb/stm32f1/usb_reg_map.c.o
.build/core/libmaple/usb/usb_lib/usb_core.c.d
.build/core/libmaple/usb/usb_lib/usb_core.c.o
.build/core/libmaple/usb/usb_lib/usb_init.c.d
.build/core/libmaple/usb/usb_lib/usb_init.c.o
.build/core/libmaple/usb/usb_lib/usb_mem.c.d
.build/core/libmaple/usb/usb_lib/usb_mem.c.o
.build/core/libmaple/usb/usb_lib/usb_regs.c.d
.build/core/libmaple/usb/usb_lib/usb_regs.c.o
.build/core/stm32f1/util_hooks.c.d
.build/core/stm32f1/util_hooks.c.o
.build/core/stm32f1/wiring_pulse_f1.cpp.d
.build/core/stm32f1/wiring_pulse_f1.cpp.o
.build/core/stm32f1/wirish_debug.cpp.d
.build/core/stm32f1/wirish_debug.cpp.o
.build/core/stm32f1/wirish_digital_f1.cpp.d
.build/core/stm32f1/wirish_digital_f1.cpp.o
.build/core/wirish/boards.cpp.d
.build/core/wirish/boards.cpp.o
.build/core/wirish/boards_setup.cpp.d
.build/core/wirish/boards_setup.cpp.o
.build/core/wirish/start.S.d
.build/core/wirish/start.S.o
.build/core/wirish/start_c.c.d
.build/core/wirish/start_c.c.o
.build/core/wirish/syscalls.c.d
.build/core/wirish/syscalls.c.o
.build/libraries/Adafruit_GFX_Library/Adafruit_GFX.cpp.d
.build/libraries/Adafruit_GFX_Library/Adafruit_GFX.cpp.o
.build/libraries/Adafruit_GFX_Library/Adafruit_SPITFT.cpp.d
.build/libraries/Adafruit_GFX_Library/Adafruit_SPITFT.cpp.o
.build/libraries/Adafruit_GFX_Library/glcdfont.c.d
.build/libraries/Adafruit_GFX_Library/glcdfont.c.o
.build/libraries/Adafruit_SSD1306/Adafruit_SSD1306_STM32.cpp.d
.build/libraries/Adafruit_SSD1306/Adafruit_SSD1306_STM32.cpp.o
.build/libraries/SPI/SPI.cpp.d
.build/libraries/SPI/SPI.cpp.o
.build/libraries/Wire/SoftWire.cpp.d
.build/libraries/Wire/SoftWire.cpp.o
.build/libraries/Wire/Wire.cpp.d
.build/libraries/Wire/Wire.cpp.o
.build/libraries/Wire/utility/WireBase.cpp.d
.build/libraries/Wire/utility/WireBase.cpp.o
.build/preproc/ctags_target_for_gcc_minus_e.cpp
.build/sketch/HelloWorld.ino.cpp
.build/sketch/HelloWorld.ino.cpp.d
.build/sketch/HelloWorld.ino.cpp.o
.vscode/arduino.json
.vscode/launch.json
.vscode/settings.json
Projects/my sketch/.vscode/arduino.json
Projects/my sketch/.vscode/c_cpp_properties.json
Projects/my sketch/.vscode/settings.json
